main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 600px;
}

app-square {
    height: 200px;
}

.new-game-btn {
    margin-bottom: 2rem;
}

@media screen and (max-width: 768px) {
    main {
        width: 100%;
    }

    app-square {
        height: 15vh;
    }
}
